.vs/
Debug/
ipch/
Release/
bin/
packages/

SkyExample/Debug/
SkyExample/Release/

SkyNet/Debug/
SkyNet/Release/

SkyNetTests/Debug/
SkyNetTests/Release/

SkyWorld/Debug/
SkyWorld/Release/

SkyWorld2/Debug/
SkyWorld2/Release/

Sky.VC.db
Sky.VC.VC.opendb
